<div>
  Create basic Pixi Application, load some resources and do some animation with
  GSAP
</div>

<!--app.view rendered here, using viewChild, rather than document.body.appendChild, to make onDestroy easier-->
<div
  #appView
  [ngStyle]="{
    width: config.width + 'px',
    height: config.height + 'px',
    border: 'dashed indianred 2px'
  }"
></div>

<div>fps using basic app ticker.FPS: {{ this?.app?.ticker?.FPS }}</div>
<div>fps using measureFPS class: {{ measureFPS.FPS }}</div>
