<nav>
  <!--
<a routerLink="">Home</a>
 -->
  <a routerLink="BrunoLearningPixie">Bruno Learning Pixie</a
  ><a routerLink="task-gecko">Task Gecko</a>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
