<div>Display animation based on a sprite sheet</div>

<div>Loader Progress: {{ loaderProgressValue }}</div>

<div
  #appView
  [ngStyle]="{
    width: config.width + 'px',
    height: config.height + 'px',
    border: 'dashed indianred 2px'
  }"
></div>
