<div>
  Deducts players stake from the current balance
  <br />
  Randomly selectes a dummy JSON response from the responses I have provided
  <br />
  From the response calculate if there was a win, if so add that to the players
  balance, play the 'win' animations for the correct winning symbols and display
  the win amount
  <br />
  The button must remain disabled until all this has been completed
</div>

<div style="display: flex; width: 500px">
  <div style="flex: 1 1 320px">
    <pre>
            Response:
            {{ player.chosenRandomResponse$ | async | json }}
        </pre
    >

    <!--Current Winline-->
    <div>
      Current Win Line: {{ currentWinLine | json }}
      <div style="display: flex">
        <div *ngFor="let item of pseudoArray(4); let reelIndex = index">
          R{{ reelIndex }}. {{ item }}

          <div
            [ngClass]="{
              cell: true,
              winLineCell: currentWinLine[reelIndex] == cellIndex
            }"
            *ngFor="let item of pseudoArray(3); let cellIndex = index"
          >
            C{{ cellIndex }}.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="flex: 1 1 150px">
    <button
      mat-stroked-button
      color="primary"
      (click)="player.onSpin()"
      [disabled]="player.stakeControl.disabled"
    >
      <mat-spinner
        [mode]="'indeterminate'"
        [diameter]="24"
        *ngIf="player.isSlotMachineRunning$ | async"
        style="display: inline-block; padding-left: 1ch"
      >
      </mat-spinner>

      Spin!
    </button>

    <div>
      <div>Balance: {{ player.balance$ | async }}</div>

      <input
        type="range"
        min="1"
        [max]="player.maxBet"
        step="1"
        [formControl]="player.stakeControl"
      />
      <label>Stake: {{ player.stakeControl.value }}</label>
    </div>
  </div>
</div>

<div>
  You win by matching symbols on win lines. All symbols must be matched on
  consecutive reels starting on the leftmost reel. Only the highest win on each
  line will be paid. Malfunction voids all pays and plays. See game rules for
  more details. Winnings are calculated as the product of the multiplier shown
  in the paytable and Stake, divided by the number of win lines. All amounts
  shown on Paytable are in coins.
</div>
