
<nav>
  <a routerLink="./lesson1">Lesson 1</a>
  <a routerLink="./lesson2">Lesson 2 Symbols</a
  ><a routerLink="./lesson3">Lesson 3 Sprites</a>
  <a routerLink="./lesson4">Lesson 4 Spine Slot Animation</a>
  <a routerLink="./lesson5">Game Logic</a>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
