/* You can add global styles to this file, and also import other style files */

nav a {
  display: block;
  padding: 16px;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
