<div>Load & display all the symbols in the /assets folder</div>

<div>Loader Progress: {{ loaderProgressValue }}</div>

<div
  #appView
  [ngStyle]="{
    width: config.width + 'px',
    height: config.height + 'px',
    border: 'dashed indianred 2px'
  }"
></div>
