<div style="display: flex; flex-wrap: wrap">
  <div class="slotMachineWrapper">
    <!--PIXI APP DISPLAYED HERE-->
    <div
      #appView
      [ngStyle]="{
        width: config.width + 'px',
        height: config.height + 'px',
        border: 'dashed indianred 2px'
      }"
    ></div>
  </div>

  <!--DEBUG AREA-->
  <div class="debugWrapper">
    <h2>Debug</h2>
    <pre>
        Player Balance:
        {{ player.balance$ | async }}

        Player Stake:
        {{ player.stakeControl.value }}

        Last Win Amount:
        {{ player.lastWinAmount$ | async }}

        Randomly Selected Dummy JSON Response:
        {{ player.chosenRandomDummyResponse$ | async | json }}
    </pre>

    <!--Current Winline Visualisation-->
    <div>
      Current Win Line: {{ currentWinLine | json }}
      <div style="display: flex">
        <div *ngFor="let item of pseudoArray(4); let reelIndex = index">
          R{{ reelIndex }}. {{ item }}

          <div
            [ngClass]="{
              cell: true,
              winLineCell: currentWinLine[reelIndex] == cellIndex
            }"
            *ngFor="let item of pseudoArray(3); let cellIndex = index"
          >
            C{{ cellIndex }}.
          </div>
        </div>
      </div>
    </div>

    <!--Stake Adjustment-->
    <div>
      <input
        type="range"
        min="1"
        [max]="player.maxBet"
        step="1"
        [formControl]="player.stakeControl"
      />
      <label>Stake: {{ player.stakeControl.value }}</label>
    </div>
  </div>
</div>
